{% load sekizai_tags thumbnail filer_tags filer_image_tags %}

{% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}css/overlay.css">{% endaddtoblock %}
{% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}css/jcarousel.css">{% endaddtoblock %}

{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/jquery.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/jquery.tools.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/jquery.jcarousel.min.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}
<script type="text/javascript">
    $(function(){
		$.fn.startCarousel = function() {
	  		var bodywidth = $('#carousel{{ object.id }}').width(),
				itemwidth = $('#carousel{{ object.id }} li').outerWidth(true),		
				mycontwidth = bodywidth > itemwidth ? bodywidth - bodywidth%itemwidth : itemwidth,
				licount = $('#carousel{{ object.id }} li').size(),
				jscroll = 1;
				
			if(licount > mycontwidth/itemwidth){
				jscroll =  mycontwidth/itemwidth;
			} else {
				jscroll = 0;
				mycontwidth = licount * itemwidth;
			}
			
			$('#gallery{{ object.id }}').width(mycontwidth);
				
	    	$('#carousel{{ object.id }}').jcarousel({
				scroll:jscroll
			});
	  	};
		
		$(this).startCarousel();
		
		$(window).resize(function(){
			$(this).startCarousel();
		}); 

		$("#carousel{{ object.id }} img").overlay();
    })
</script>
{% endaddtoblock %}

<ul id='carousel{{ object.id }}' class="jcarousel">
{% for image in folder_images %}
{% spaceless %}
<li style="width: 200px;">
{% thumbnail image.file 200x200 crop="smart" upscale=True subject_location=image.subject_location as thumbnail %}
<img rel="#image_{{ object.id }}_{{ image.id }}" {% if image.name %}alt="{{ image.name }}"{% endif %} src="{{ thumbnail.url }}">
</li>
{% endspaceless %}
{% endfor %}
</ul>

{% for image in folder_images %}
<div id="image_{{ object.id }}_{{ image.id }}" class="overlay">
{% thumbnail image.file 600x400 crop="smart" upscale=True subject_location=image.subject_location as thumbnail %}
<img {% if image.name %}alt="{{ image.name }}"{% endif %} src="{{ thumbnail.url }}">
{% if image.name or image.description %}
<div class="overlay-caption">
{% if image.name %}<h4>{{ image.name }}</h4>{% endif %}
{% if image.description %}<p>{{ image.description }}</p>{% endif %}
</div>
{% endif %}
</div>
{% endfor %}
