{% load sekizai_tags thumbnail filer_tags filer_image_tags %}

{% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}css/prettyPhoto.css">{% endaddtoblock %}

{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/jquery.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/jquery.prettyPhoto.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}
<script type="text/javascript" charset="utf-8">
$(function() {
    $("a[rel^='gallery{{ object.id }}']").prettyPhoto({
		social_tools: false,
        allow_resize: true,
        changepicturecallback: function() {
            $(".pp_overlay").css("height", $(document).height());
        }
    });
});
</script>
{% endaddtoblock %}

{% for image in folder_images %}
{% spaceless %}
{% thumbnail image.file 80x80 crop="smart" upscale=True subject_location=image.subject_location as thumbnail %}
<a rel="gallery{{ object.id }}[pp_gal]" href="{{ image.file.url }}"><img class="preview" {% if image.name %} alt="{{ image.name }}" {% endif %} src="{{ thumbnail.url }}"></a>
{% endspaceless %}
{% endfor %}
